{% extends 'productos/plantilla.html' %}

{% block contenido %}
<!-- Formulario de ingreso -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body benja-custom-card-form">
          <h5 class="card-title text-center">Iniciar sesión</h5>
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group benja-custom-form-group">
              <label for="id_username">Nombre de usuario:</label>
              <input type="text" id="id_username" name="username" class="form-control" required>
            </div>
            <div class="form-group benja-custom-form-group">
              <label for="id_password">Contraseña:</label>
              <input type="password" id="id_password" name="password" class="form-control" required>
              <br>
            </div>
            <button type="submit" class="btn btn-success btn-block">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Formulario de registro -->
<div class="card benja-custom-card-sub">
    <div class="card-body">
      <h5 class="card-title">¿No tienes una cuenta?</h5>
      <p class="card-text">
        ¡Regístrate para obtener beneficios y descuentos, es GRATIS!
      </p>
      <a href="{% url 'registrarse' %}">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#subscribeModal"
        >
          Registrate
        </button>
      </a>
    </div>
  </div>
  
{% endblock %}
