{% extends 'productos/plantilla.html' %}{% block contenido %}
{%load crispy_forms_tags%}


<!-- Formulario de ingreso -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body benja-custom-card-form">
          <h3 class="card-title text-center">Iniciar sesión</h3>
            <div class="form-group benja-custom-form-group">
              <form action="" method="post">
                
                {% csrf_token %}
                {{ form | crispy}}
                <br>
                <input type="submit" value="Ingresar" class="btn btn-primary">

              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Formulario de registro -->
<div class="card benja-custom-card-sub">
    <div class="card-body">
      <h5 class="card-title">¿No tienes una cuenta?</h5>
      <p class="card-text">
        ¡Regístrate para obtener beneficios y descuentos, es GRATIS!
      </p>
      <a href="{% url 'registrarse' %}">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#subscribeModal"
        >
          Registrate
        </button>
      </a>
    </div>
  </div>
  
{% endblock %}
