<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
</head>
<body>
    {% extends 'productos/plantilla.html' %}

{% block contenido %}
<!-- Formulario de ingreso -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Registro de Usuario</h5>
          <form action="" method="post">
                
            {% csrf_token %}
            {{ form }}

            <a href="{% url 'login' %}">Iniciar sesión</a>
            <button type="submit" class="btn btn-success btn-block">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
{% endblock %}

</body>
</html>
