{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}
<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Carrito</li>
  </ol>
</nav>

<!-- Carrito -->
<div class="container mt-5 custom-container">
  <div class="row justify-content-center" id="cart-items-container">
    <!-- Los productos se cargarán aquí dinámicamente -->
  </div>
  <!-- Detalle -->
  <div class="col-md-12">
    <div class="card carta-detalle mb-3">
      <div class="card-body">
        <h5 class="card-title">Detalle del carrito</h5>
        <ul id="cart-details-list">
          <!-- Los detalles del carrito se cargarán aquí dinámicamente -->
        </ul>
        <p class="cart-total">Total: $<span class="price">0</span></p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Ir a pagar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
