{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}
<!-- CARRUSEL -->
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrousel-almtoSeco.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrousel-correas-accesorios.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrouse-snack.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- CARDS -->
<br />

<div class="container caja 1">
  <h2 class="text-center">Alimentos Secos Más Vendidos</h2>
  <!-- Salto de linea -->
  <br />
  <!-- Salto de linea -->
  <div class="row">
    <div class="col-md-3">
      <div class="card custom-card david-custom-card">
        <img
          src="media/card/card-proplanDogBomba.jpg"
          class="card-img-top custom-card-img"
          alt="Apple_iPhone11"
        />
        <div class="card-body">
          <h5 class="card-title">
            Proplan Adulto Razas Med. alimento para perro
          </h5>
          <p class="card-text">$64.990</p>
          <a href="productos-perro.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card custom-card david-custom-card">
        <img
          src="media/card/card-royalcaninMiniDog25.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Royal Canin adulto Mini Adult alimento para perro
          </h5>
          <p class="card-text">$45.990</p>
          <a href="productos-perro.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-proplanCatBomba.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Proplan Adulto Cat alimento para gato</h5>
          <p class="card-text">$37.990</p>
          <a href="productos-gato.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-nathCat25.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Nath Kitten sabor pollo y arroz alimento para gatos
          </h5>
          <p class="card-text">$23.993</p>
          <a href="productos-gato.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container caja 2">
  <h2 class="text-center">Accesorios Más Vendidos</h2>
  <!-- Salto de linea -->
  <br />
  <!-- Salto de linea -->
  <div class="row">
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="Media/card/card-bandanaPato.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Max & Molly – Bandana Ducklings</h5>
          <p class="card-text">$8.990</p>
          <a href="productos-accesorios.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="Media/card/card-correaRosa50Liq.png"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Zeedog Correa Midnight Unisex</h5>
          <p class="card-text">$5.995</p>
          <a href="productos-accesorios.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="Media/card/card-accesorioBand30.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Fuzz Yard Bandana - Yeezy Para Perro</h5>
          <p class="card-text">Oferta Web $6.293</p>
          <a href="productos-accesorios.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="Media/card/card-identificadorHueso.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Chapita My Family – Big Bone Bronx Platform XL
          </h5>
          <p class="card-text">Oferta Web $10.900</p>
          <a href="productos-accesorios.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Salto de linea -->
<br />
<!-- Salto de linea -->
<div class="container caja 3">
  <h2 class="text-center">Snacks Más Vendidos</h2>
  <!-- Salto de linea -->
  <br />
  <!-- Salto de linea -->
  <div class="row">
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-dingoSnackDog4x3.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dingo dental stick huesitos 48 pk</h5>
          <p class="card-text">$8.243</p>
          <a href="productos-snacks.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-rahueSnackDog4x3.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Rahue de vacuno snack para perros</h5>
          <p class="card-text">$3.990</p>
          <a href="productos-snacks.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-fitSnackCat4x3.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Fit Snack Formula Filete De Pollo</h5>
          <p class="card-text">$1.290</p>
          <a href="productos-snacks.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card david-custom-card">
        <img
          src="media/card/card-churuSnackCat4x3.jpg"
          class="card-img-top custom-card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Churu de atún con salmón 56 GR</h5>
          <p class="card-text">$2.990</p>
          <a href="productos-snacks.html" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------------------- -->
<!-- Tarjeta que activa el modal -->
<br />
<div class="card custom-card-sub">
  <div class="card-body">
    <h5 class="card-title">¡Conoce más sobre nuestra fundación!</h5>
    <p class="card-text">
      Descubre cómo tu compra ayuda a nuestra fundación sin fines de lucro.
    </p>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#foundationModal"
    >
      Más información
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="foundationModal"
  tabindex="-1"
  aria-labelledby="foundationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content modal-sombra">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="foundationModalLabel">
          ¡Ayúdanos a cambiar vidas con tu compra!
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body custom-modal benja-custom-modal">
        <div class="text-center">
          <img src="Media/fundacion.jpeg" alt="Logo Fundación" width="100" />
        </div>
        <p>
          Con cada compra que realizas, estás apoyando a nuestra fundación sin
          fines de lucro.
        </p>
        <p>
          Somos Ayuda Callejeros, una fundación sin fines de lucro, que pretende
          proteger y mejorar la calidad de vida de perros y gatos que han sido
          abandonados o maltratados.
        </p>
        <p>
          Para obtener más información sobre esta fundación o para hacer una
          donación directa, visita su sitio web.
        </p>
        <!-- Sitio web de la fundación -->
        <a
          href="https://www.fundacionayudacallejeros.cl/"
          class="btn btn-primary"
          target="_blank"
          >Visita su sitio web</a
        >
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
{% endblock %}
