{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}
<!-- CARRUSEL -->
<div
  id="carouselExampleInterval"
  class="carousel slide carrusel"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrousel-almtoSeco.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrousel-correas-accesorios.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'productos/img/carrousel/carrouse-snack.jpg' %}"
        class="d-block w-100 david-custom-carrousel"
        alt="..."
      />
      <div class="gradient"></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- CARDS -->
<br />

<div class="container caja">
  <h2 class="text-center">Alimentos Secos Más Vendidos</h2>
  <br />
  <div class="row">
    {% for x in productos_perros_gatos %}
    <div class="col-md-3">
      <div class="card custom-card david-custom-card">
        {% if x.imagen %}
        <img
          src="{{ x.imagen.url }}"
          class="card-img-top custom-card-img"
          alt="Imagen-producto"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{x.nombre}}
          </h5>
          <p class="card-text">$<span class="price">{{ x.precio }}</span></p>
          {% if x.categoria.nombre == 'Alimentos para Perros' %}
          <a href="{% url 'pagPerros' %}" class="btn btn-primary mt-auto">Ver más</a>
          {% elif x.categoria.nombre == 'Alimentos para Gatos' %}
          <a href="{% url 'pagGatos' %}" class="btn btn-primary mt-auto">Ver más</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<br />

<div class="container caja">
  <h2 class="text-center">Accesorios Más Vendidos</h2>
  <br />
  <div class="row">
    {% for x in productos_accesorios %}
    <div class="col-md-3">
      <div class="card custom-card david-custom-card">
        {% if x.imagen %}
        <img
          src="{{ x.imagen.url }}"
          class="card-img-top custom-card-img"
          alt="Imagen-producto"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{x.nombre}}
          </h5>
          <p class="card-text">$<span class="price">{{ x.precio }}</span></p>
          <a href="{% url 'pagAccesorios' %}" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<br />

<div class="container caja">
  <h2 class="text-center">Snacks Más Vendidos</h2>
  <br />
  <div class="row">
    {% for x in productos_snacks %}
    <div class="col-md-3">
      <div class="card custom-card david-custom-card">
        {% if x.imagen %}
        <img
          src="{{ x.imagen.url }}"
          class="card-img-top custom-card-img"
          alt="Imagen-producto"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{x.nombre}}
          </h5>
          <p class="card-text">$<span class="price">{{ x.precio }}</span></p>
          <a href="{% url 'pagSnacks' %}" class="btn btn-primary mt-auto"
            >Ver más</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------------------- -->
<!-- Tarjeta que activa el modal -->
<br />
<div class="card custom-card-sub">
  <div class="card-body">
    <h5 class="card-title">¡Conoce más sobre nuestra fundación!</h5>
    <p class="card-text">
      Descubre cómo tu compra ayuda a nuestra fundación sin fines de lucro.
    </p>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#foundationModal"
    >
      Más información
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="foundationModal"
  tabindex="-1"
  aria-labelledby="foundationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content modal-sombra">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="foundationModalLabel">
          ¡Ayúdanos a cambiar vidas con tu compra!
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body custom-modal benja-custom-modal">
        <div class="text-center">
          <img src="{% static 'productos/img/logos/fundacion.jpeg' %}" alt="Logo Fundación" width="100" />
        </div>
        <p>
          Con cada compra que realizas, estás apoyando a nuestra fundación sin
          fines de lucro.
        </p>
        <p>
          Somos Ayuda Callejeros, una fundación sin fines de lucro, que pretende
          proteger y mejorar la calidad de vida de perros y gatos que han sido
          abandonados o maltratados.
        </p>
        <p>
          Para obtener más información sobre esta fundación o para hacer una
          donación directa, visita su sitio web.
        </p>
        <!-- Sitio web de la fundación -->
        <a
          href="https://www.fundacionayudacallejeros.cl/"
          class="btn btn-primary"
          target="_blank"
          >Visita su sitio web</a
        >
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
{% endblock %}
