<!DOCTYPE html>
<html lang="en">
  <!-- este commit es de prueba -->

  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PawPalace</title>
    <link
      rel="icon"
      href="{% static 'productos/img/logos/Logo_Principal_sin_fondo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'productos/css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--  -->
  </head>

  <body style="font-family: 'Roboto', sans-serif">
    <header class="benja-header">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light flex-grow-1">
        <div
          class="container d-flex justify-content-between align-items-center benja-custom-container"
        >
          <!-- Items Izquierda -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <div class="benja-container">
              <input
                type="text"
                name="text"
                class="benja-input"
                required=""
                placeholder="Producto, Marca, etc."
              />
              <div class="benja-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ionicon"
                  viewBox="0 0 512 512"
                >
                  <title>Search</title>
                  <path
                    d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                    fill="none"
                    stroke="currentColor"
                    stroke-miterlimit="10"
                    stroke-width="32"
                  ></path>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="32"
                    d="M338.29 338.29L448 448"
                  ></path>
                </svg>
              </div>
            </div>
          </ul>

          <!-- Logo -->
          <div class="logo-container">
            <a class="navbar-brand" href="{% url 'index' %}">
              <img
                class="logo"
                src="{% static 'productos/img/logos/Logo_Principal_sin_fondo.png' %}"
                alt="Logo"
              />
            </a>
          </div>

          <!-- Items Derecha - Inicia -->
          <div class="d-flex align-items-center">
            <!-- Dropdown productos -->
            <div class="dropdown me-2">
              <a
                class="btn btn-secondary dropdown-toggle drop-productos"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <!-- Menú del dropdown -->
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'pagPerros' %}"
                    >Alimentos Secos Perros</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'pagGatos' %}"
                    >Alimentos Secos Gatos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'pagAccesorios' %}"
                    >Accesorios Mascotas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'pagSnacks' %}"
                    >Snacks</a
                  >
                </li>
              </ul>
            </div>

            <!-- Dropdown perfil -->
            <div class="dropdown me-2">
              <img
                src="{% static 'productos/img/perfil.png' %}"
                alt="Icono"
                height="41"
                class="dropdown-toggle"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              />
              <!-- Menú del dropdown -->
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" href="#">Hola, {{ user.username }}</a>
                </li>
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                </form>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'registrarse' %}">Registrarse</a>
                </li>
                {% endif %}
              </ul>
            </div>

            <!-- Icono del carrito -->
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              <img
                class="carrito"
                src="{% static 'productos/img/carrito.png' %}"
                alt="Carrito"
                height="24"
              />
            </a>
          </div>
          <!-- Items Derecha - Termina -->
        </div>
      </nav>

      <!-- Offcanvas -->
      <div
        class="offcanvas offcanvas-end general-custom-canvas"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body benja-custom-canvas">
          <div id="cart-items"></div>
          <br />
          <!-- Detalle -->
          <h4>Productos en tu carrito:</h4>
          <ul id="cart-list"></ul>
          <p id="cart-total">Total: $0</p>
          <a href="{% url 'pagCarrito' %}" class="btn btn-primary"
            >Ir al carrito</a
          >
        </div>
      </div>
    </header>
    <!-- ----------------------------------------------------------------------------------------------------- -->
    {% block contenido %} {% endblock %}
    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- FOOTER -->
    <br />
    <footer
      class="text-center text-lg-start text-white"
      style="background-color: #333333"
    >
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row my-4">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div
              class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
              style="width: 150px; height: 150px"
            >
              <img
                src="{% static 'productos/img/logos/Logo_Principal_sin_fondo.png' %}"
                height="105"
                alt=""
                loading="lazy"
              />
            </div>
            <p class="text-center"></p>

            <ul class="list-unstyled d-flex flex-row justify-content-center">
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="text-white px-2" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a class="text-white ps-2" href="#!">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">¿Quiénes Somos?</h5>

            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Nuestra Organización</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Miembros</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>¿Tu mascota está perdida?</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>¿Quieres adoptar?</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Animales en adopción</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Donaciones</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Créditos</a
                >
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Redes Sociales</h5>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>¡Chatea con nosotros!</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Facebook</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Instagram</a
                >
              </li>
              <li class="mb-2">
                <a href="#!" class="text-white"
                  ><i class="fas fa-paw pe-3"></i>Telegram</a
                >
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">contacto</h5>
            <ul class="list-unstyled">
              <li>
                <p>
                  <i class="fas fa-map-marker-alt pe-2"></i>Av. Vicuña Mackenna
                  4917, San Joaquín.
                </p>
              </li>
              <li>
                <p><i class="fas fa-phone pe-2"></i>+56 9 3142 6758</p>
              </li>
              <li>
                <p>
                  <i class="fas fa-envelope pe-2 mb-0"></i>disennoweb@duocuc.cl
                </p>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
          >MDBootstrap.com</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- scripts personalizados -->
    <script src="{% static 'productos/js/carrito.js' %}"></script>
    <script src="{% static 'productos/js/formularios.js' %}"></script>

    <!-- Otros scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
