{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}

<!-- Imagen de encabezado -->
<div class="imagen-productos">
  <img src="media/productos/productos-perro.jpg" alt="" />
</div>

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perros</li>
  </ol>
</nav>

<!-- Productos -->
<h2 class="texto-producto">Alimentos Secos Para Perro</h2>
<!-- Producto 13 -->
<div class="lista-productos">
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="13"
    data-name="Proplan Adult Dog Mediano"
    data-price="32990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-proplanDogBomba.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Proplan Adulto Razas Medianas</h5>
          <p class="card-text">
            PRO PLAN® Adult Razas Medianas con OptiHealth y Spirulina, ayuda a
            fortalecer el sistema inmune y digestivo para tu mascota,
            principalmente a través de la incorporación de spirulina en su
            fórmula para garantizar su eficiencia.
          </p>
          <br />
          <p class="card-text">
            <small class="text-body-secondary">$32.990</small>
          </p>

          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Producto 14 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="14"
    data-name="Royal Canin Dog Mini Adult"
    data-price="45990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-royalcaninMiniDog25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Royal Canin adulto Mini Adult alimento para perro
          </h5>
          <p class="card-text">
            Royal Canin Mini Adult es un alimento para perros adultos de tamaño
            pequeño (de 1 a 10 Kg) desde los 10 meses hasta los 8 años. Ayuda a
            mantener el peso ideal de los perros de raza pequeña al satisfacer
            sus elevadas necesidades energéticas.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Oferta Web $45.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Producto 15 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="15"
    data-name="Oven Baked Tradition Dog"
    data-price="31990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-ovenSmallDog.png"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Oven Baked Tradition Grain Free Duck Small Breeds
          </h5>
          <p class="card-text">
            El alimento especial para Adultos de razas pequeñas de Oven Baked
            Tradition® Es una comida pensada para razas pequeñas preparada con
            pato fresco, frutas, verduras y libre de granos, está última es una
            caracteristica única.
          </p>
          <br /><br />
          <p class="card-text">
            <small class="text-body-secondary">$31.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Producto 16 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="16"
    data-name="N&D Low Canine Adulto"
    data-price="20993"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-nydMediumDog25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            N&D Low Canine Adulto Frango Medium alimento para perro
          </h5>
          <p class="card-text">
            Farmina® Natural&Delicious® Pollo, granada y Cereles Ancestrales
            Adulto-Medium es un alimento completo y balanceado para perros
            adultos de razas medianas. Elaborada solo con granos ancestrales de
            alta calidad.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Oferta Web $20.993</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 17 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="17"
    data-name="Proplan Adulto Breed"
    data-price="33990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-proplanAdulDogSmallBomba.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Proplan Adulto Small Breed alimento para perro
          </h5>
          <p class="card-text">
            PRO PLAN® Adult Razas Pequeñas con OptiHealth y Spirulina, ayuda a
            fortalecer el sistema inmune y digestivo, principalmente a través de
            la incorporación de spirulina en su fórmula, cuya efectividad ha
            sido científicamente probada.
          </p>
          <br />
          <p class="card-text">
            <small class="text-body-secondary">Oferta Web $33.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 18 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="18"
    data-name="Royal Canin Chihuahua"
    data-price="14990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-royalcaninChihuahuaDog.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Royal Canin adulto Chihuahua alimento para perro
          </h5>
          <p class="card-text">
            ROYAL CANIN® Chihuahua® está ideado para perros chihuahuas a partir
            de los 8 meses de edad, tiene encuenta sus proporciones físicas para
            brindarle un alimento completo que se adapte a dichas
            características especificas.
          </p>
          <br />
          <p class="card-text">
            <small class="text-body-secondary">$14.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 19 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="19"
    data-name="Original Adult Breed Dog"
    data-price="55990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-nutrienceDog.png"
          img-fluid
          rounded-start
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Original Adult Medium Breed Dog alimento para perro
          </h5>
          <p class="card-text">
            El pollo como ingrediente principal en nuestra receta de Nutrience
            Original Adulto de raza mediana le ofrece a su perro un sabor que le
            va a encantar, al mismo tiempo que favorece la salud de su cuerpo
            para mantenerlo fuerte y activo.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">$55.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 20 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="20"
    data-name="Taste Of The Wild Dog "
    data-price="35243"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-tasteofDog25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Taste Of The Wild Wetlands Dry alimento para perro
          </h5>
          <p class="card-text">
            Wetlands Dry es una fórmula sin cereales con patatas y guisantes
            dulces que proporciona energía altamente digerible para su perro
            activo. Hecho con aves a la brasa y ahumadas ofrece una sensación de
            sabor sin igual para su mascota.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">$35.243</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 21 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="21"
    data-name="Nath Medium Integral"
    data-price="38993"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-nathDogMedium25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Nath Medium sabor pollo y arroz integral alimento para perros
          </h5>
          <p class="card-text">
            Esta receta de comida para cachorros medianos y grandes, con un peso
            superior a los 11 kg, se ha elaborado para cubrir y satisfacer todas
            las necesidades nutricionales de la mascota durante sus 12 primeros
            meses de vida.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">$38.993</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 22 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="22"
    data-name="Nath adulto Medium"
    data-price="21990"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-nathDogAdult25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Nath adulto Medium sabor pollo y arroz integral alimento para perros
          </h5>
          <p class="card-text">
            Nath ha elaborado una comida para perros adultos de razas medianas
            que pesan entre 11 y 25 kg. Su objetivo es cubrir y satisfacer todas
            las necesidades nutricionales de estas mascotas a partir de los 12
            meses de edad. Los ingredientes principales que se han utilizado son
            el pollo y el arroz integral.
          </p>
          <br />
          <p class="card-text">
            <small class="text-body-secondary">Oferta Web $21.990</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 23 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="23"
    data-name="Royal Canin Maxi"
    data-price="70000"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-royalcaninMaxiDogBomba.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Royal Canin adulto maxi adult 15 KG alimento para perro
          </h5>
          <p class="card-text">
            Royal Canin Maxi Adult es un alimento para perros de raza grande (26
            a 44 Kg ) desde los 15 meses hasta los 5 años. Mejora la calidad de
            las heces (textura y volumen) gracias a los ácidos grasos EPA-DHA
            con propiedades antiinflamatorias. Royal Canin es líder en el
            mercado mundial de alimento balanceado para tus fieles amigos gatos
            y perros.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Oferta Web $70.000</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Producto 24 -->
  <div
    class="card mb-3 david-custom-products"
    style="max-width: 540px"
    data-id="24"
    data-name="Wellness Core Dog"
    data-price="53243"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="media/card/card-wellnesAdultDog25.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Wellness Core Dog Healthy Weight alimento para perro
          </h5>
          <p class="card-text">
            Mantén a tu mascota sana y activa con el delicioso alimento para
            perros Wellness Core Healthy. Preparado con carne de pavo fresca de
            calidad, contribuye a regular el peso de tu mascota porque es bajo
            en grasas y en calorías mientras que sus proteínas le permiten ganar
            esa masa muscular esencial para tu mascota.
          </p>
          <br />
          <p class="card-text">
            <small class="text-body-secondary">$53.243</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carritos</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
