{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}

<!-- Imagen de encabezado -->
<div class="imagen-productos">
  <img src="Media/productos/banner-productos-snack.jpg" alt="" />
</div>

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Snacks</li>
  </ol>
</nav>

<!-- Título -->
<h2 class="texto-producto">Snacks Para Tu Mascota</h2>
<!-- Productos -->
<div class="container-snacks">
  <div class="row">
    {% for x in productos_snacks %}
    <div class="col-md-3 mb-4">
      <div class="card david-custom-products">
        {% if x.imagen %}
        <img
          src="{{ x.imagen.url }}"
          class="img-fluid rounded-start"
          alt="Imagen producto"
        />
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ x.nombre }}</h5>
          <p class="card-text">{{ x.descripcion }}</p>
          <p class="card-text">
            <small class="text-body-secondary">${{ x.precio }}</small>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
