{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}

<!-- Imagen de encabezado -->
<div class="imagen-productos">
  <img src="Media/productos/banner-productos-snack.jpg" alt="" />
</div>

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Snacks</li>
  </ol>
</nav>

<!-- Productos -->
<h2 class="texto-producto">Snacks Para Tu Mascota</h2>
<div id="Productos Snack">
  <!-- Producto 43 -->
  <div class="lista-productos">
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="43"
      data-name="Dingo Dental Stick Huesitos"
      data-price="10990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="Media/card/card-dingoSnackDog4x3.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Dingo Dental Stick Huesitos 48 pk</h5>
            <p class="card-text">
              Dingo® combina potentes sabores y beneficios para crear huesos
              masticables y golosinas que mantendrán a tu perro queriendo más.
              Está hecho en base a carne real y cuero crudo altamente digerible,
              conservando como siempre, el mismo gran sabor que tu perro conoce
              y aman.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $10.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 44 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="44"
      data-name="Catit Creamy Atun Snack para gatos"
      data-price="2890"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="Media/card/card-catitCreamy.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Catit Creamy Atun Snack para gatos 40 GR</h5>
            <p class="card-text">
              Catit Creamy Atún es un snack para gatos nutritivo, hecho con
              ingredientes de calidad y con nutrientes esenciales, rico en
              aminoácidos y con un alto contenido de proteina. Podrás servirlo
              en un plato o dárselo a tu gato directamente del tubo.
            </p>
            <br /><br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $2.890</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 45 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="45"
      data-name="Churu Perro 8p Pollo con Atún"
      data-price="5990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-churruPerro19.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Churu Perro 8p Pollo con Atún 20GR x 8 160CGR
            </h5>
            <p class="card-text">
              Inaba Churu para perros están hechas con pollo de granja 100% puro
              y natural! Disponible en cinco deliciosas variedades, Churu®
              Purées tiene un alto contenido de humedad que los caninos
              necesitan para la salud.
              <br /><br /><br />
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $5.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 46 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="46"
      data-name="Vitakraft Snack Cat Yums Queso"
      data-price="2790"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-cikakraftYums.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vitakraft Snack Cat Yums Queso 40 GR</h5>
            <p class="card-text">
              Los Cat Yums® extra carnosos con queso tentador están elaborados
              en un proceso único - con los mejores ingredientes y según una
              receta sin azúcar. Lo que tiene de especial: cada bocadillo se
              rellena deliciosamente y se cocina suavemente en el horno.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $2.790</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 47 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="47"
      data-name="Qchefs Dental Granulado Gato"
      data-price="10990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-dentalFitness.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Qchefs Dental Granulado Gato (80 GR)</h5>
            <p class="card-text">
              QCHEFS DENTAL GRANULADO GATO es un aderezo granulado para gatos en
              base a proteína de queso, formulado para mantener la salud dental
              de tu gato impecable. Áctua directamente en la placa bacteriana en
              forma natural gracias a los procesos químicos producidos por la
              saliva y la proteína de queso.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $10.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 48 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="48"
      data-name="Naturalistic Protein Rich Meatballs"
      data-price="3290"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-naturalisticMeatBalls19.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Naturalistic Protein Rich Meatballs sabor pato y manzana snack
              para perros 100 GR
            </h5>
            <p class="card-text">
              mMatballs Pato&Manzana son snack para perros con forma de
              albóndiga y sabroso sabor a pato y manzana. Este delicioso snack
              para perros ha sido elaborado a base de proteína de carne de pato
              de alta calidad.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $3.290</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 49 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="49"
      data-name="Snack en Forma de Hamburguesa"
      data-price="3290"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-naturalisticGrill19.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Snack en Forma de Hamburguesa con carne de Vacuno y bbq 120 GR
            </h5>
            <p class="card-text">
              TASTY BEEF BURGER WITH BBQ son snack para perros con forma de
              hamburguesa y sabroso sabor a vacuno y barbacoa (salsa BBQ). Este
              delicioso snack para perros ha sido elaborado a base de proteína
              de carne de vacuno de alta calidad.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $3.290</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 50 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="50"
      data-name="Rahue Jerky Proteina de Vacuno"
      data-price="47990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-rahuePerro19.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Rahue Jerky Proteina de Vacuno 250 GR</h5>
            <p class="card-text">
              Deliciosos trozos naturales de vacuno, libre de preservantes y
              colorantes; ingredientes limitados para perro de todas las edades
              y tamaños, secado lentamente con aire tibio para conservar su
              sabor y propiedades nutritivas.
            </p>

            <p class="card-text">
              <br /><br />
              <small class="text-body-secondary">Oferta Web $47.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 51 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="51"
      data-name="Orijen Six Fish Cat Treats"
      data-price="7990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-sixFish.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Orijen Six Fish Cat Treats snack 35g</h5>
            <p class="card-text">
              Orijen® Six Fish Treats Son snacks de calidad ultra premium.
              Hechos para regalonear a tu gato con una elaboración cuidadosa al
              tener ingredientes frescos directos de Canadá, libre de aditivos,
              conservantes, colorantes y hecho con carne fresca 100% natura.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$7.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 52 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="52"
      data-name="SuniChups Skin & Coat"
      data-price="2190"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-sunipetSuniChups19.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              SuniChups Skin & Coat - Snack funcional para gatos 56 GR
            </h5>
            <p class="card-text">
              SuniChups Skin & Coat sabor pollo y salmón. Es un suplemento en
              forma de snack super cremoso y saludable, con alto contenido de
              agua para gatos, que provee los aceites grasos esenciales OMEGA 3.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">$2.190</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 53 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="53"
      data-name="Cat Treats Roasted Turkey"
      data-price="2990"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-snackToastedTurkey.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Cat Treats Roasted Turkey</h5>
            <br /><br /><br />
            <p class="card-text">
              El cuerpo de los gatos está acostumbrado a comer carne de verdad.
              Mejora la salud y el bienestar general de tu gato con nuestros
              deliciosos y nutritivos Cat Treats Roasted Turkey.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $2.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 54 -->
    <div
      class="card mb-3 david-custom-products"
      style="max-width: 540px"
      data-id="54"
      data-name="Churu para Gato Sabor Pollo"
      data-price="5662"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="media/card/card-snackChuruQueso.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Churu para Gato Sabor Pollo 190 GR</h5>
            <br />
            <p class="card-text">
              ¡Estos sabrosos snacks para gatos se hacen con atún silvestre o
              pollo criado en granjas puro y natural! Disponibles en nueve
              variedades deliciosas, l os Churu® Purés tienen el alto contenido
              de humedad necesario para la salud de los felinos.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$5.662</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart"
              >Agregar al carrito</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
