{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}

<!-- Imagen de encabezado -->
<div class="imagen-productos">
  <img src="{% static 'productos/img/productos/producto-accesorios.jpg' %}" alt="" />
  <div class="gradient"></div>
</div>

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Accesorios</li>
  </ol>
</nav>

<!-- Productos -->
<h2 class="texto-producto">Accesorios Para Tu Mascota</h2>
<!-- Productos -->
<div class="container-accesorios">
  <div class="row">
    {% for x in productos_accesorios %}
    <div class="col-md-3 mb-4">
      <div class="card david-custom-products" data-id="{{ x.id }}" data-name="{{ x.nombre }}" data-price="{{ x.precio }}">
        {% if x.imagen %}
        <img
          src="{{ x.imagen.url }}"
          class="img-fluid rounded-start"
          alt="Imagen producto"
        />
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ x.nombre }}</h5>
          <p class="card-text">{{ x.descripcion }}</p>
          <p class="card-text">
            $<span class="price">
              <small class="text-body-secondary">{{ x.precio }}</small>
            </span>
          </p>
          <a href="#" class="btn btn-primary mt-auto add-to-cart"
            >Agregar al carrito</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
