{% extends 'productos/plantilla.html' %} {% block contenido %} {% load static %}


  <!-- Imagen de encabezado -->
  <div class="imagen-productos">
    <img src="Media/productos/producto-accesorios.jpg" alt="" />
    <div class="gradient"></div>
  </div>
  
  <!-- Breadcrumb -->
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Accesorios</li>
    </ol>
  </nav>
  
  <!-- Productos -->
  <h2 class="texto-producto">Accesorios Para Tu Mascota</h2>
  <!-- Producto 25 -->
  <div class="lista-productos">
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="25" data-name="GF PET Bandana Refrescante" data-price="12990"> 
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-bandanaAzul70Liq.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">GF PET Bandana Refrescante</h5>
            <p class="card-text">
              ¡La gf pet® ice-band® está diseñada para mantener a su perro
              fresco y cómodo en esos días calientes o en movimiento!
            </p>
            <br /><br /><br /><br />
            <p class="card-text">
              <small class="text-body-secondary">$12.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 26 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="26" data-name="Mpets Correa Retractil Liberty Verde" data-price="11893">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-correaVerde30.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Mpets Correa Retractil Liberty Verde</h5>
            <p class="card-text">
              MPETS CORREA RETRACTIL LIBERTY VERDE es una correa rectráctil
              para perros, segura y muy cómoda para los paseos. <br /><br />
              Talla S: 16,3 x 9,2 x 3,9 cm - Hasta 3 mts. Talla M: 17,5 x 10,2
              x 3,9 cm - Hasta 5 mts.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$11.893</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto  add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 27 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="27" data-name="Max & Molly Bandana Black Sheep" data-price="8990">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-bandanaOveja.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Max & Molly Bandana Black Sheep</h5>
            <p class="card-text">
              La nueva colección de Max and Molly incluye estas modernas
              bandanas, que hacen match con tu collar, correa y arnés
              favorito. <br /><br />Medidas: XS-S: Ancho 15 x Alto 12,5 cm.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $8.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Producto 28 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="28" data-name="Blue Great Dane" data-price="13900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-IdentificadorDoberman.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chapita My Family – Blue Great Dane</h5>
            <p class="card-text">
              Chapita My Family – Blue Great Dane le ayuda a mantener a su
              mascotita identificada. <br />Las chapitas identificatorias son
              indispensables a la hora de encontrar a tu perro. Si no la
              tiene, nadie podrá ayudarlo a volver a casa.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $13.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 29 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="29" data-name="Fuzz Yard Bandana - Summer Punch" data-price="6392">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-bandanaSandia30.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Fuzz Yard Bandana - Summer Punch</h5>
            <p class="card-text">
              Bandana Fuzzyard – Summer Punch cuenta con dos patrones
              originales que puedes voltear según el estado de ánimo de tu
              perro o gato. <br /><br />
              Mediano: 23 cm x 14,5 cm.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">$6.392</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 30 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="30" data-name="Pepolli set arnés 2-en-1" data-price="54990">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-correaPecheraRosa.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Pepolli set arnés 2-en-1 correa y poops bali
            </h5>
            <p class="card-text">
              Estilo europeo que marca tendencia en la moda para perritos.
              Seis accesorios en el mismo exclusivo diseño = infinitas
              combinaciones. <br /><br />Cada accesorio de este especial set
              ¡Es 2-EN-1!
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$54.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 31 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="31" data-name="Big Round Golden Brass" data-price="10900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-identificadorCrema.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Chapita My Family – Big Round Golden Brass
            </h5>
            <p class="card-text">
              Chapita My Family – Big Round Golden Brass le ayuda a mantener a
              su mascotita identificada. <br />Las chapitas identificatorias
              son indispensables a la hora de encontrar a tu perro. Si no la
              tiene, nadie podrá ayudarlo a volver a casa.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">$10.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 32 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="32" data-name="Big Round Aluminum Red" data-price="6900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-IdentificadorRojo.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Chapita My Family – Big Round Aluminum Red
            </h5>
            <p class="card-text">
              Chapita My Family – Big Round Aluminum Red le ayuda a mantener a
              su mascotita identificada. <br />Las chapitas identificatorias
              son indispensables a la hora de encontrar a tu perro. Si no la
              tiene, nadie podrá ayudarlo a volver a casa.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$6.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 33 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="33" data-name="Big Round Aluminum Pink" data-price="6900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-identicadorRosado.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Chapita My Family – Big Round Aluminum Pink
            </h5>
            <p class="card-text">
              Chapita My Family – Big Round Aluminum Pink le ayuda a mantener
              a su mascotita identificada. <br />
              Las chapitas identificatorias son indispensables a la hora de
              encontrar a tu perro. Si no la tiene, nadie podrá ayudarlo a
              volver a casa.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$6.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 34 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="34" data-name="Mpets reflecto correa" data-price="6993">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-accesorioCorrea30.png" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Mpets reflecto correa - colores surtidos 1 un. 1 un.
            </h5>
            <p class="card-text">
              REFLECTO LEASH esta correa presenta un cierre de perno fácil de
              usar que se ajusta rápidamente al collar o arnés favorito de su
              perro. <br /><br />Tamaño: 1cm x 150cm <br />Material: Poliéster
              - Correa reflectante.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$6.993</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 35 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="35" data-name="Max & Molly Bandana Ducklings" data-price="8990">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-bandanaPato.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Max & Molly Bandana Ducklings</h5>
            <p class="card-text">
              La nueva colección de Max and Molly incluye estas modernas
              bandanas, que hacen match con tu collar, correa y arnés
              favorito. <br /><br />
              Medidas: XS-S: Ancho 15 x Alto 12,5 cm.
            </p>
            <br /><br />
            <p class="card-text">
              <small class="text-body-secondary">$8.990</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 36 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="36" data-name="Fuzz Yard Bandana" data-price="6293">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-accesorioBand30.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Fuzz Yard Bandana - Yeezy</h5>
            <p class="card-text">
              Bandana Fuzzyard – Yeezy cuenta con dos patrones originales que
              puedes voltear según el estado de ánimo de tu perro o gato.
              <br /><br />Mediano: 23 cm x 14,5 cm.
            </p>
            <br /><br /><br /><br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $6.293</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 37 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="37" data-name="Bichon Frise" data-price="13990">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-IdentificadorBlanco.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chapita My Family – Bichon Frise</h5>
            <p class="card-text">
              Chapita My Family – Bichon Frise le ayuda a mantener a su
              mascotita identificada. <br />Las chapitas identificatorias son
              indispensables a la hora de encontrar a tu perro. Si no la
              tiene, nadie podrá ayudarlo a volver a casa.
            </p>
            <br /><br /><br />
            <p class="card-text">
              <small class="text-body-secondary">$13.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 38 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="38" data-name="Zeedog Kim Air-correa" data-price="23995">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-accesorioCorreaLiquid.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Zeedog Kim Air-correa</h5>
            <p class="card-text">
              Experimente una caminata suave como nunca antes con Kim Air
              Leash. Esta es nuestra correa más avanzada con Flowtex™, nuestra
              tecnología patentada de correas elásticas que absorbe el impacto
              de cualquier tirón de su perro. <br /><br />Medidas: Largo 150
              cm
            </p>
            <br /><br /><br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $23.995</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 39 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="39" data-name="Zeedog Correa Midnight" data-price="5995">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-correaRosa50Liq.png" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Zeedog Correa Midnight</h5>
            <p class="card-text">
              MIDNIGHT LEASH está hecha de poliéster suave y duradero, esta
              correa para perros es súper cómoda en las manos y viene con
              nuestro icónico logo de calavera de goma que protege las
              costuras. <br /><br />
              Medidas: <br />XS: ancho (1cm) y largo (120cm sin gancho).
              <br />
              S: ancho (1,5cm) y largo (120cm sin gancho).
            </p>
            <p class="card-text">
              <small class="text-body-secondary">$5.995</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 40 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="40" data-name="Billiard Chapita My Family" data-price="13900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-Identificador8.webp" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Billiard Chapita My Family</h5>
            <p class="card-text">
              Chapita My Family – Billiard le ayuda a mantener a su mascotita
              identificada. <br />
              Las chapitas identificatorias son indispensables a la hora de
              encontrar a tu perro. Si no la tiene, nadie podrá ayudarlo a
              volver a casa.
            </p>
            <br /><br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $13.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 41 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="41" data-name="Big Bone Bronx Platform XL" data-price="10900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-identificadorHueso.jpg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Chapita My Family – Big Bone Bronx Platform XL
            </h5>
            <p class="card-text">
              Chapita My Family – Big Bone Bronx Platform XL le ayuda a
              mantener a su mascotita identificada. <br />
              Las chapitas identificatorias son indispensables a la hora de
              encontrar a tu perro. Si no la tiene, nadie podrá ayudarlo a
              volver a casa.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $10.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Producto 42 -->
    <div class="card mb-3 david-custom-products" style="max-width: 540px" data-id="42" data-name="Fawn Boxer Chapita MyFamily" data-price="13900">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="Media/card/card-IdentificadorPerro.webp" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Fawn Boxer Chapita MyFamily</h5>
            <p class="card-text">
              Chapita My Family – Fawn Boxer le ayuda a mantener a su
              mascotita identificada. <br />Las chapitas identificatorias son
              indispensables a la hora de encontrar a tu perro. Si no la
              tiene, nadie podrá ayudarlo a volver a casa.
            </p>
            <br />
            <p class="card-text">
              <small class="text-body-secondary">Oferta Web $13.900</small>
            </p>
            <a href="#" class="btn btn-primary mt-auto add-to-cart">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}