body {
  background-image: url('/static/productos/img/background/background_lavanda_2.png');
}

.general-custom-canvas {
  background-image: url('/static/productos/img/background/background-canvas.png');
} 

.benja-header {
  background: linear-gradient(90deg, #19d0d0, #FE9F4E, #ddd2d2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.benja-custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /* Sombreado con color gris claro */
}

.benja-custom-card-form,
.benja-custom-card-sub {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /* Sombreado con color gris claro */
}

.benja-custom-container a {
  font-weight: bold;
}

nav {
  width: 100%;
  height: 100px;
}

.navbar {
  width: 100%;
  border-bottom: 0.5px solid black;
}

.navbar-brand-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-container {
  flex-grow: 1;
  text-align: center;
}

.logo {
  height: 80px;
  width: auto;
  max-width: 100%;
}

.carrito {
  height: 52px;
  width: 52px;

}

.dropdown {
  margin-left: auto;
}

.dropdown :hover {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}

.dropdown-item {
  font-size: 14px;
  padding: 8px 20px;
}


.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f0f0f0;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

.btn.btn-secondary.dropdown-toggle.drop-productos {
  margin-right: 9px;
  border-radius: 20px;
  background-color: #0e0e0e;
}

.benja-container {
  display: flex;
  align-items: center;
  position: relative;
  --size-button: 40px;
  color: white;
  width: 200px;
  margin-left: 15px;
}

.benja-input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191a1e;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.benja-input:focus,
.benja-input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.benja-input:focus+.benja-icon,
.benja-input:not(:invalid)+.benja-icon {
  pointer-events: all;
  cursor: pointer;
}

.benja-container .benja-icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.benja-container .benja-icon svg {
  width: 100%;
  height: 100%;
}

.custom-card-sub {
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  /* Sombreado con color gris claro */
}

.carta-carrito {
  width: 100%;
}

.carta-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrito-vacio {
  width: 70px;
  height: 70px;
}

.cofre-custom-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.benja-custom-canvas img {
  height: 100px;
  width: 100px;
}

.carta-benja {
  margin: 5px;
}


/* Difuminado Carousel */

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, rgba(194, 98, 9, 0), #E6E6FA);
  /* Gradiente lineal de transparente a blanco */
}

/* ------------------------------------------------------ */
/* (Index) Estilizado Cards Group */
.david-custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  /*sombreado*/
}

/* Imagenes de las Tarjetas */
.david-custom-card img {
  max-width: 100%;
  height: auto;
}

/* Estilos: Productos */
.imagen-productos {
  display: flex;
  justify-content: center;
}

.texto-producto {
  margin-left: 200px;
}

.lista-productos {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.david-custom-products {
  flex: 1 1 300px;
  /* ancho minimo y maximo*/
  margin: 50px;
  /* espacio entre productos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  /*sombreado*/
}

.david-custom-products img {
  max-width: 120%;
  height: auto;
}

/* Formulario */
.benja-custom-form-group {
  margin: 20px;
}

.benja-custom-form-group label {
  padding: 5px;
}

.benja-custom-card-sub {
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

.benja-custom-card-sub button {
  width: auto;
}

.benja-custom-carrito img {
  height: 200px;
  width: 200px;
}

/* estilos breadcrum */
.breadcrumb {
  display: flex;
  justify-content: left; /*ajustar posición a la izquierda*/
  margin: 20px 0; /*margen superior e inferior */
  margin-left: 11%; /* margen izquierdo */
  background-color: #f8f9fa; /* fondo */
  
}

/*estilos productos dentro del acrrito*/
#cart-list {
  list-style: none;
  padding: 0;
}

/*estilos para los elementos dentro del carrito*/
#cart-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/*Media querys*/

/* Teléfonos pequeños */
@media (max-width: 576px) {

  .benja-container {
    display: none;
  }

  .link-inicio{
    display: none;
  }

  .btn.btn-secondary.dropdown-toggle.drop-productos{
    display: none;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-3,
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .footer .col-lg-3,
  .footer .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer .row > div {
    margin-bottom: 1rem;
  }

}

/* Teléfonos medianos a grandes */
@media (min-width: 577px) and (max-width: 768px) {

  .logo {
    height: 70px;
    text-align: center;
  }

  .link-inicio{
    display: none;
  }

  .btn.btn-secondary.dropdown-toggle.drop-productos{
    display: none;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-3,
  .col-lg-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .footer .col-lg-3,
  .footer .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
  }

  .footer .row > div {
    margin-bottom: 1rem;
  }
}

/* Tabletas pequeñas */
@media (min-width: 769px) and (max-width: 999px) {

  .logo {
    height: 70px;
    text-align: center;
  }

  .link-inicio{
    display: none;
  }

  .btn.btn-secondary.dropdown-toggle.drop-productos{
    display: none;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .footer .col-lg-3,
  .footer .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
  }
}

/* Tabletas grandes a computadoras pequeñas */
@media (max-width: 1000px){

  .link-inicio{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    color: #212529;
  }

  .benja-container{
    display: none;
  }

  .logo{
    height: 70px;
    text-align: center;
  }

  .btn.btn-secondary.dropdown-toggle.drop-productos{
    font-size: 13px;
    padding: 5px 10px 5px 10px;
  }

  .imagen-perfil{
    height: 35px;
  }

  .carrito{
    height: 40px;
    width: 40px;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .footer .col-lg-3,
  .footer .col-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: left;
  }
}